
@{
    ViewBag.Title = "CustAggrenPDF";
    Layout = "~/Views/Shared/_LayoutSanjivani.cshtml";
}
<section class="content-header">
   
</section>

<section class="content">

    <div class="col-lg-12" style="border:1px solid;background-color:white">
        <h1 class="m-0 text-danger" style="text-align: center;font-weight:800;color: black;">CUSTOMER AGGREMENT</h1>
        <p>1)24-Oct-2014 — Basically you can just add --header-center "text" (or similar switches) to the argument list and that's all. So using it with Rotativa it would be:
5 answers·Top answer:I've found a documentation of wkhtmltopdf (or a better archived version) a</p>
        <p>2)02-Jul-2015 — Here, in this article, we would learn how to use Rotativa in the MVC ... Of course, we need to install the package before starting the implementation. ... ToString("MM/dd/yyyy") + " Page: [page]/[toPage]\"" + " --footer-line ... </p>
        <p>3)hghjgfsjsagf hhjksdghskg kgjghjgjf khkjghkasf kkjgfb </p>
        </div>
    </section>

