
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_LayoutSanjivani.cshtml";
}

<section class="content-header">
    <h1>
       Report

    </h1>

</section>
<section class="content">
    <div class="row">
        <div class="col-sm-6 card card-danger">
            <div class="card-header">
                <h3 class="card-title">Channnal Partner</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-info" style="width: 36px;height: 41px;"><i class="far fa-envelope"></i></span>

                            <div class="info-box-content">
                                <a href="@Url.Action("CPReport","Director")"><span class="info-box-text">Channal Partner List</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-success" style="width: 36px;height: 41px;"><i class="far fa-flag"></i></span>

                            <div class="info-box-content">
                                <a href="#"><span class="info-box-text">CP Invoices</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-warning" style="width: 36px;height: 41px;"><i class="far fa-copy"></i></span>

                            <div class="info-box-content">
                                <a href="#"><span class="info-box-text">Product</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-danger" style="width: 36px;height: 41px;"><i class="far fa-star"></i></span>

                            <div class="info-box-content">
                                <a href="#"><span class="info-box-text">Withdrawal</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="col-sm-6 card card-danger">
            <div class="card-header">
                <h3 class="card-title">Customer</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-info" style="width: 36px;height: 41px;"><i class="far fa-envelope"></i></span>

                            <div class="info-box-content">
                                <a href="@Url.Action("CPReport","Director")"><span class="info-box-text">Channal Partner List</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-success" style="width: 36px;height: 41px;"><i class="far fa-flag"></i></span>

                            <div class="info-box-content">
                                <a href="#"><span class="info-box-text">CP Invoices</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-warning" style="width: 36px;height: 41px;"><i class="far fa-copy"></i></span>

                            <div class="info-box-content">
                                <a href="#"><span class="info-box-text">Product</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-danger" style="width: 36px;height: 41px;"><i class="far fa-star"></i></span>

                            <div class="info-box-content">
                                <a href="#"><span class="info-box-text">Withdrawal</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
  
</section>
